
footer {
    display: flex;
    background-color: $color-principal;
    padding: 30px;
    justify-content: space-between;
    div {
        ul{
            li{
                padding: 10px;
                list-style: none;
              
            }
        }
    }
    div{
        display: flex;
        align-content: center;
    
    }
}


        