@import "../utilities/mixins" ;


.section-1 {
    .fuentes {
        @include fuentes ;
    }
    .images-shadow {
        box-shadow: 6px 6px 6px $color-principal;
    }

    div{
        h1{
            border-bottom: 1px solid $color-secundario;
        }
    }
    div {
        h2 {
            border-bottom: 1px solid $color-secundario;
            margin-bottom: 10px;
        }
    }
}